body {
	margin: 0px 0px 20px 0px;
	background-color: #ECE9D8;
	text-align: center;
	font:small 'Trebuchet MS', Verdana, sans-serif;
	color: #333;
}

a {
	text-decoration: none;
	color: #f60;
}

a:visited {
	color: #c60;
}

a:active {
	color: #A19F94;
}

a:hover {
	color: #000;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

#container {
	line-height: 140%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	width: 700px;
	background-color: #FFF;
	border: 2px solid #FFF;
	background: #F7F7F7 url(img/4fondo_menua.gif) repeat-y top right;
}

#banner {
	color: #FFF;
	background-color: #A19F94;
	padding: 15px;
	border-bottom: 5px solid #6E6E6E;
	height: 39px;
}

a#banner-img {
	display: none;
}

#banner a {
	color: #ECE9D8;
	text-decoration: none;
	}

#banner h1 {
	font-size: 40px;
	color: #ECE9D8;
}

#banner h2 {
	margin-top:15px;
	margin-left:90px;
	font-size: 14px;
	font-weight:bold;
	letter-spacing:1px;
}

#center {
	float: left;
	width: 500px;
	overflow: hidden;
}
*html #center {
	width: 496px;
}
.content {
	padding:15px;
	border-left: 1px solid #A19F94;
	background: #F7F7F7 url(img/4koxka.gif) no-repeat top left;
	line-height: 150%;
}

.content h1{
	font-size: 1.8em;
	margin: 15px 0 10px 0;
}

#right {
	float: left;
	width: 200px;
	overflow: hidden;
}

.content p {
	margin-bottom: 10px;
}

.content h2 {
	padding-left:20px;
	color: #A19F94;
	font-size: 1em;
	text-align: right;
	margin-bottom: 10px;
}


.content h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.content h3 a{
	text-decoration:none;
}
.content textarea {
	width: 450px;
}

.content .storycontent h3{
	font-size:1.2em;
	margin:0;
	padding:0;
}

.content p.posted {
	color: #999;
	font-size: 0.85em;
	border-top: 1px solid #e5e5e5;
	text-align: left;
	background-color:#fff;
	margin-bottom: 25px;
	line-height: normal;
	padding: 3px 10px;
}


#calendar {
  	line-height: 140%;
	color: #666;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	padding: 2px;
	text-align: center;
	margin-bottom: 30px;
}

#calendar table {
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
	width: 100%;
}

#calendar caption {
	color: #666666;
	font-size: 0.85em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .3em;
}

#calendar th {
	text-align: center;
	font-weight: normal;
}

#calendar td {
	text-align: center;
}

.sidebar h2 {
	color: #fff;
	background-color:#A19F94;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
*html .sidebar h2 {
	margin-left: 10px;
}
.sidebar {
	padding:15px 0 0 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	text-align: center;
	font-weight: bold;
}

.sidebar a {
	color:#666;
}

.sidebar a:hover{
	color:black;
}

.sidebar ul, .sidebar p {
	padding-right: 10px;
}
.sidebar ul {
	padding-left: 10px;
	margin: 0px;
	margin-bottom: 30px;
}

.sidebar li {
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	line-height: 130%;
	margin-top: 10px;
	list-style-type: none;
}

.sidebar img {
	border: 3px solid #FFF;
}

.photo {
	margin-bottom: 20px;
}

.link-note {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	line-height: 150%;
	padding-left:10px;
	margin-bottom: 15px;
}

#powered {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	line-height: 150%;
	color: #666;
	margin-top: 50px;
}

#comment-data {
	float: left;
	width: 180px;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px dotted #BBB;
}

.comments h2{
	border-bottom:1px solid #999;
}


td, th{
	padding: 2px 3px;
	border: 1px solid #fff;
	vertical-align:top;
}

table{
	margin-bottom: 10px;
        font-size: 11px;
}