body {
	margin: 0;
	text-align: center;
	background: #fff url(img/3edukibe.gif) no-repeat bottom;
	font:small Verdana, Arial, sans-serif;
	color: #333;
}


a{
	color: #C27609;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #CE913A;
	text-decoration: none;
}

a:active {
	color: #C27609;
	text-decoration: none;
}

a:hover {
	color: #888;
	text-decoration: none;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

#container {
	background: url(img/3edukierdi.gif) repeat-y top;
	line-height: 130%;
	margin:0 auto;
	text-align: left;
	padding: 0px;
	width: 700px;
	border: 1px solid transparent;
}

*html #container {
	width: 701px;
	border:none;
}

#banner {
	color: #FFF;
	padding: 0px;
	height: 140px;
	background: #fff url(img/3goikoa.gif) no-repeat top;
}

a#banner-img {
	display: none;
}

#banner a {
	color: #FFFFFF;
	text-decoration: none;
}

#banner h1 {
	font-size: 40px;
	padding: 30px 0px 0px 30px;
}

#banner h2 {
	font-size: 20px;
	padding: 20px 0px 0px 30px;
}

#center {
	float: left;
	width: 495px;
	overflow: hidden;
}

.content {
	padding: 0px 30px 0px 20px;
	font-size: 0.9em;
	line-height: 160%;
}
.content h1{	
	font-size: 1.7em;
	margin: 15px 0 10px 0;
}

#right {
	float: left;
	font-size: 0.85em;
	width: 200px;
	overflow: hidden;
}

.content p {
	margin-bottom: 10px;
}

.content textarea{
	width: 450px;
	}

.content h2 {
	font-size: 0.9em;
	border-bottom: 1px solid #fff;
	background: url(img/3lainoa.gif) no-repeat left bottom;
	text-align: right;
	margin-bottom: 10px;
}

.content h3 {
	color: #C27609;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 110%;
}


.content .storycontent h3{
	font-size:120%;
	font-weight:bold;
	margin:0;
	padding:0;
}

.content p.posted {
	color: #999;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	border-top: 1px solid #e5e5e5;
	text-align: left;
	margin-bottom: 25px;
	padding: 3px;
}

#calendar {
	line-height: 140%;
	color: #666666;
	padding: 2px;
	text-align: center;
	margin-bottom: 30px;
}

#calendar table {
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
	width: 100%;
}

#calendar caption {
	color: #666666;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .3em;
}

#calendar th {
	text-align: center;
	font-weight: normal;
}

#calendar td {
	text-align: center;
}

.sidebar {
	padding: 0px 15px 0px 15px;
	font-size: 0.95em;
}

.sidebar h2 {
	color: #FEF1ED;
	font-size: 0.85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .3em;
}

.sidebar ul {
	padding-left: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.sidebar li {
	color: #666666;
	margin-top: 10px;
	list-style-type: none;
}

*html .sidebar li {
	margin-top: 0;
}

.sidebar img {
	border: 3px solid #FFFFFF;
}

.photo {
	text-align: left;
	margin-bottom: 20px;
}

.link-note {
	line-height: 150%;
	margin-bottom: 15px;
}

#powered {
	line-height: 150%;
	text-align: left;
	color: #666;
	margin-top: 30px;
}

#comment-data {
	float: left;
	width: 180px;
	padding-right: 15px;
	margin-right: 15px;
	text-align: left;
	border-right: 1px dotted #BBB;
}


td, th{
	padding: 2px 3px;
	border: 1px solid #fff;
	vertical-align: top;
}

table{
	margin-bottom: 10px;
}

#tags{
	margin-bottom: 10px;
}