[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions

parts =
    instance
    zeo
    omelette
    zopepy

extends = http://download.zope.org/zopetoolkit/index/1.0.7/zopeapp-versions.cfg
          http://download.zope.org/Zope2/index/2.13.16/versions.cfg

versions = versions

develop = .

eggs =
   Products.Bitakora

# Port configuration
[ports]
zope = 8080
zeo = 8081

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = ${ports:zope}
debug-mode = on
verbose-security = on
blob-storage = ${buildout:directory}/var/blobstorage
shared-blob = on
zeo-client = True
zeo-address = ${ports:zeo}

# Do not add eggs here
# for consistence-sake, please add them in the eggs
# option for buildout part. Only Zope and Plone eggs
# must be listed here. Thank you.
eggs =
    Zope2
    ${buildout:eggs}


environment-vars =
   # Add here the languages of this site
    TZ CET
    PYTHON_EGG_CACHE = ${buildout:directory}/var/.python-eggs

# Do not add zcml here
# for consistence-sake, please add them in the zcml
# option for buildout part. Thank you.
zcml =
    ${buildout:zcml}

products =
    ${buildout:directory}/products

[zeo]
recipe = plone.recipe.zeoserver
zeo-address = ${ports:zeo}


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
products = ${instance:products}


[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

